<section class="browse_Courses p-5">
    <h3 class="text-2xl font-semibold mb-4">Browse Courses</h3>
    <div class="header flex items-center gap-10 mb-5 p-5">
        <form action="" class="">
            <div class="relative">
                <input type="text" placeholder="Search courses..."
                class="w-xs rounded-xl border border-gray-300 px-10 py-3 outline-none focus:border-green-500 focus:ring-2 focus:ring-green-200" />
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search text-red-700 absolute top-[50%] translate-y-[-50%] left-2"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
            </div>
        </form>
        <select name="courseCategory" id="courseCategory" class=" rounded-xl border border-gray-300 px-3 py-3 outline-none focus:border-green-500 focus:ring-2 focus:ring-green-200">
            <option value="" disabled selected>Filter by Category</option>
            <option value="programming">Programming</option>
            <option value="design">Design</option>
            <option value="marketing">Marketing</option>
            <option value="business">Business</option>
            <option value="photography">Photography</option>
        </select>
    </div>
</section>
