 <!-- NAVBAR -->
  <nav class="sticky top-0 z-50 h-22 bg-white/90 backdrop-blur border-b border-gray-200 shadow-sm">
    <div class="mx-auto flex items-center justify-between px-4 md:px-10">
      <a class="flex items-center" href="#">
        <img class="w-42 h-auto" src="public/assets/images/logo.png" alt="Logo" />
      </a>

      <!-- Desktop links -->
      <div class="hidden lg:block">
        <ul class="flex items-center gap-8">
          <li>
            <a class="inline-block text-lg font-medium text-green-700 hover:scale-102 hover:bg-green-700 p-1 hover:text-[white] rounded transition-transform duration-300 cursor-pointer
              " (click)="scrollTo('home')">Home</a>
          </li>
          <li>
            <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-102 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-300 cursor-pointer"
              (click)="scrollTo('stats')">Stats</a>
          </li>
          <li>
            <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-102 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-300 cursor-pointer"
              (click)="scrollTo('about')">About Us</a>
          </li>
          <li>
            <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-102 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-300 cursor-pointer"
              (click)="scrollTo('contact')">Contact Us</a>
          </li>
          <li>
            <a routerLink="/Login" class="inline-block bg-gray-200 text-lg font-medium text-emerald-700 hover:scale-102 hover:bg-emerald-700 p-1 hover:text-[white] rounded-2xl transition-transform duration-300 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in inline-block"><path d="m10 17 5-5-5-5"/><path d="M15 12H3"/><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg> Login </a>
          </li>
        </ul>
      </div>
      <button
        class="lg:hidden inline-flex items-center justify-center rounded-lg border border-gray-300 p-2 hover:bg-gray-100 transition relative"
        type="button" (click)="toggleMenu(mobileMenuOpen)" >
        <!-- simple hamburger icon -->
        @if (!mobileMenuOpen) {
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        }
        @else{
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <div class="block mobileMenu absolute right-6 top-8 mt-2 shadow p-2 bg-white rounded w-40">
          <ul class="flex flex-col items-center gap-3">
            <li>
              <a class="inline-block text-lg font-medium text-green-700 hover:scale-120 hover:bg-green-700 p-1 hover:text-[white] rounded transition-transform duration-400 cursor-pointer" (click)="scrollTo('home')">Home</a>
            </li>
            <li>
              <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-120 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-400 cursor-pointer"
                (click)="scrollTo('stats')">Stats</a>
            </li>
            <li>
              <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-120 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-400 cursor-pointer"
                (click)="scrollTo('about')">About Us</a>
            </li>
            <li>
              <a class="inline-block text-lg font-medium text-emerald-700 hover:scale-120 hover:bg-emerald-700 p-1 hover:text-[white] rounded transition-transform duration-400 cursor-pointer"
                (click)="scrollTo('contact')">Contact Us</a>
            </li>
          </ul>
        </div>
        }
      </button>
    </div>
  </nav>
