@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --primary-color:#198754;
  --secondary-color:#1e7e34;
  --bg-color1:#fff;
  --bg-color2:#f1eeee;
  --bg-color3:#eeeeee;
}
a{
  text-decoration:none;
}